.handler {
	border: 2px solid #dedede;
	z-index: 999999;
	position: absolute;
}

.anchor {
	width: 10;
	height: 10;
	&:active,
	&:hover {
		border-color: #4b4848;
	}
}

.scaleAnchor {
	z-index: -1;
	position: absolute;
	margin-top: -3;
	border-right: 2px solid #dedede;
	border-bottom: 2px solid #dedede;
}

.rotateAnchor {
	z-index: -1;
	position: absolute;
	margin-top: -8;
	border-top: 2px solid #dedede;
	border-right: 2px solid #dedede;
	border-top-right-radius: 3;
}
