.propertyGroup {
	width: initial;
	padding: 0 5px 6px 5px;
	font-size: 14px;
	font-family: "Lucida Grande", sans-serif;
}
.propertyGroup .fabButton {
	border-radius: 50%;
	padding: 2px 5px;
	border: 0;
	margin-right: 5px;
}

.propertyGroup .error_row {
	display: flex;
	align-items: center;
}

.propertyGroup .error_row .info{
	margin-left: 8px;
}