.insertMenu {
	padding: 20px;
	text-transform: capitalize;
	background-color: #ebebeb;
}
.insertMenu .tabWrapper {
	display: flex;
}
.insertMenu .tabWrapper .tabBar {
	cursor: pointer;
	padding: 4px 8px;
	font-size: 12px;
	font-weight: 600;
	line-height: 1.75;
	border-bottom: 2px solid #1b1c1d;
	letter-spacing: 0.02857em;
	text-transform: capitalize;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
.insertMenu .tabWrapper .activeTab {
	background-color: #1b1c1d;
	color: #fff;
}
.insertMenu .toolBox {
	margin: 0;
	padding: 12px 0 0;
}
.insertMenu .toolBox .toolBoxItem {
	list-style-type: none;
	padding: 5px;
	margin-top: 2px;
	display: flex;
	align-items: center;
	cursor: pointer;
	border-radius: 8px;
}
.insertMenu .toolBox .toolBoxItem:hover {
	background: #dcd8d8;
}
.insertMenu .toolBox .insertmenuactive {
	background: #dcd8d8;
}
.insertMenu .toolBox .currentToolboxItem {
	background: #dcd8d8;
}
.insertMenu .toolBox .mainIcon {
	padding: 2px 5px;
	border-bottom: 1px solid #e0e0e0;
}
