.insertMenu {
	padding: 20;
	text-transform: capitalize;
	background-color: #ebebeb;

	.tabWrapper {
		display: flex;

		.tabBar {
			cursor: pointer;
			padding: 4px 8px;
			font-size: 12px;
			font-weight: 600;
			line-height: 1.75;
			border-bottom: 2px solid #1b1c1d;
			letter-spacing: 0.02857em;
			text-transform: capitalize;
			border-top-right-radius: 4px;
			border-top-left-radius: 4px;
		}

		.activeTab {
			background-color: #1b1c1d;
			color: #fff;
		}
	}

	.toolBox {
		margin: 0;
		padding: 12px 0 0;

		.toolBoxItem {
			list-style-type: none;
			padding: 5;
			margin-top: 2;
			display: flex;
			align-items: center;
			cursor: pointer;
			border-radius: 8;
		}

		.toolBoxItem:hover {
			background: #dcd8d8;
		}

		.insertmenuactive {
			background: #dcd8d8;
		}

		.currentToolboxItem {
			background: #dcd8d8;
		}

		.mainIcon {
			padding: 2px 5px;
			border-bottom: 1px solid #e0e0e0;
		}
	}
}
