.insertMenu {
	padding: 20px;
	min-width: 200px;
	text-transform: capitalize;
	background-color: #ebebeb;
}
.insertMenu .toolBox {
	margin: 0;
	padding: 12px 0 0;
}
.insertMenu .toolBox .toolBoxItem {
	list-style-type: none;
	padding: 5px;
	margin-top: 2px;
	display: flex;
	align-items: center;
	cursor: pointer;
	border-radius: 8px;
}
.insertMenu .toolBox .toolBoxItem:hover {
	background: #dcd8d8;
}
.insertMenu .toolBox .insertMenuActive {
	background: #dcd8d8;
}
.insertMenu .toolBox .currentToolboxItem {
	background: #dcd8d8;
}
.insertMenu .toolBox .mainIcon {
	padding: 2px 5px;
}
