.empty {
	display: none;
}
.rdColumns {
	overflow: hidden;
	margin-top: 10px;
}
.rdColumns__title {
	padding: 3px;
	color: #333;
	white-space: nowrap;
	margin-bottom: 8px;
}
.rdColumns .inline {
	display: flex;
	margin-top: 8px;
}
.rdColumns .block {
	margin-top: 8px;
}
.rdColumns__inline {
	display: flex;
	align-items: center;
}
.rdColumns__inline label {
	margin-right: 12px;
	margin-bottom: 0;
	min-width: 50px;
}
.rdColumns__inline .inline {
	margin-top: 0px;
}
.rdColumns__inline .block {
	margin-top: 0px;
}
